body{
    background-color: #039580;
}
main{
    background-color: #016256;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    padding: 15px;
}
h1{
    color: white;
    font-family:sans-serif;
    text-align: center;
    margin-top: 30px;
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 7px;
}
.enderecoItem{
    display: flex;
    flex-wrap: wrap;
}
form input[type = "text"]{
    text-align: center;
    border-color: white;
    background-color: white;
}

form input[type= "text"]::placeholder{
    color: black;
}

.addButton{
width:30px;
height: 30px;
margin-top: 2px;
border-radius: 5px;
background-color: white;
border-color: white;
}

.addButton:hover{
    background-color:#FF6B01;
    color:white;
    border-color:#FF6B01;
}

form button[type = "submit"]{
    margin-left: 57px;
    margin-top: 5px;
    width: 188px;
    height: 33px;
    border-radius: 5px;
    border-color:#FF6B01;
    background-color:#FF6B01;
    color:white;
}

form button[type= "submit"]:hover{
    background-color:#FF6B01;
    color:white;
    border-color:white;
}
/*----------------------------------------*/

.enderecoItem2{
    display: flex;
}
.novoCampo{
    margin-top: 5px;
}

.removeButton{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border-color: white;
}
.removeButton:hover{
    background-color:#FF6B01;
    color:white;
    border-color:#FF6B01;
}